header {
  font-family: proxima-nova, sans-serif; }
  header ::-moz-selection {
    background-color: rgba(30, 144, 255, 0.2); }
  header ::selection {
    background-color: rgba(30, 144, 255, 0.2); }

.time-bar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0.4vw;
  z-index: 99;
  overflow: hidden;
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4); }

.time-bar-ani:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0%;
  width: 100%;
  height: 0.4vw;
  background-color: #dead5a;
  -webkit-animation-name: time-bar-ani;
  -moz-animation-name: time-bar-ani;
    -o-animation-name: time-bar-ani;
       animation-name: time-bar-ani;
  -webkit-animation-duration: 3s;
     -moz-animation-duration: 3s;
       -o-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
     -moz-animation-timing-function: ease;
       -o-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both; }

@-webkit-keyframes time-bar-ani {
  0% {
    width: 0%; }
  80% {
    left: 0;
    width: 100%; }
  to {
    left: 100%; } }

@-moz-keyframes time-bar-ani {
  0% {
    width: 0%; }
  80% {
    left: 0;
    width: 100%; }
  to {
    left: 100%; } }

@-o-keyframes time-bar-ani {
  0% {
    width: 0%; }
  80% {
    left: 0;
    width: 100%; }
  to {
    left: 100%; } }

@keyframes time-bar-ani {
  0% {
    width: 0%; }
  80% {
    left: 0;
    width: 100%; }
  to {
    left: 100%; } }

header.bg-1 {
  background-color: #594D4C; }

header.bg-2 {
  background-color: #BCB5A8; }

header.bg-3 {
  background-color: #C2A97E; }

header.bg-4 {
  background-color: #809BA4; }

header.bg-5 {
  background-color: rebeccapurple; }

header {
  position: relative;
  background-color: red;
  height: 100vh;
  overflow: hidden;
  -webkit-transition: 666ms all ease-in-out;
     -moz-transition: 666ms all ease-in-out;
       -o-transition: 666ms all ease-in-out;
          transition: 666ms all ease-in-out;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center; }
  header .center {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 2vw;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center;
    position: relative; }
    header .center .header-top {
      display: -webkit-flex;
      display: -moz-box;
      display: flex;
      -webkit-flex-direction: row;
         -moz-box-orient: horizontal;
         -moz-box-direction: normal;
              flex-direction: row;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
              justify-content: space-between;
      width: 100%; }
    header .center .content-wrapper {
      position: relative;
      display: -webkit-flex;
      display: -moz-box;
      display: flex;
      -webkit-align-items: center;
         -moz-box-align: center;
              align-items: center;
      width: 50vw;
      height: 20vw;
      overflow: hidden;
      color: #ffffff; }
      header .center .content-wrapper .content {
        display: none;
        position: absolute;
        text-transform: uppercase; }
        header .center .content-wrapper .content li {
          font-size: 7vw;
          -webkit-animation-fill-mode: forwards;
             -moz-animation-fill-mode: forwards;
               -o-animation-fill-mode: forwards;
                  animation-fill-mode: forwards; }
          header .center .content-wrapper .content li:nth-child(0) {
            --i: 0; }
          header .center .content-wrapper .content li:nth-child(1) {
            --i: 1; }
          header .center .content-wrapper .content li:nth-child(2) {
            --i: 2; }
          header .center .content-wrapper .content li:nth-child(3) {
            --i: 3; }
          header .center .content-wrapper .content li:nth-child(4) {
            --i: 4; }
          header .center .content-wrapper .content li:nth-child(5) {
            --i: 5; }
          header .center .content-wrapper .content li:nth-child(6) {
            --i: 6; }
          header .center .content-wrapper .content li:nth-child(7) {
            --i: 7; }
          header .center .content-wrapper .content li:nth-child(8) {
            --i: 8; }
          header .center .content-wrapper .content li:nth-child(9) {
            --i: 9; }
          header .center .content-wrapper .content li:nth-child(10) {
            --i: 10; }
          header .center .content-wrapper .content li:nth-child(11) {
            --i: 11; }
          header .center .content-wrapper .content li:nth-child(12) {
            --i: 12; }
          header .center .content-wrapper .content li:nth-child(13) {
            --i: 13; }
          header .center .content-wrapper .content li:nth-child(14) {
            --i: 14; }
          header .center .content-wrapper .content li:nth-child(15) {
            --i: 15; }
      header .center .content-wrapper .content.show {
        display: -webkit-flex;
        display: -moz-box;
        display: flex; }
      header .center .content-wrapper .content.goToBottom li {
        -webkit-animation-name: lettersGoToBottom;
        -moz-animation-name: lettersGoToBottom;
          -o-animation-name: lettersGoToBottom;
             animation-name: lettersGoToBottom;
        -webkit-animation-delay: 333ms;
           -moz-animation-delay: 333ms;
             -o-animation-delay: 333ms;
                animation-delay: 333ms;
        -webkit-animation-duration: 666ms;
           -moz-animation-duration: 666ms;
             -o-animation-duration: 666ms;
                animation-duration: 666ms;
        -webkit-animation-timing-function: ease-in-out;
           -moz-animation-timing-function: ease-in-out;
             -o-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
        -webkit-animation-delay: -webkit-calc(0.2s * var(--i));
           -moz-animation-delay: -moz-calc(0.2s * var(--i));
             -o-animation-delay: calc(0.2s * var(--i));
                animation-delay: calc(0.2s * var(--i)); }
      header .center .content-wrapper .content.comeFromTop li {
        -webkit-animation-name: lettersComeFromTop;
        -moz-animation-name: lettersComeFromTop;
          -o-animation-name: lettersComeFromTop;
             animation-name: lettersComeFromTop;
        -webkit-animation-delay: 333ms;
           -moz-animation-delay: 333ms;
             -o-animation-delay: 333ms;
                animation-delay: 333ms;
        -webkit-animation-duration: 666ms;
           -moz-animation-duration: 666ms;
             -o-animation-duration: 666ms;
                animation-duration: 666ms;
        -webkit-animation-timing-function: ease-in-out;
           -moz-animation-timing-function: ease-in-out;
             -o-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
        -webkit-animation-delay: -webkit-calc(0.2s * var(--i));
           -moz-animation-delay: -moz-calc(0.2s * var(--i));
             -o-animation-delay: calc(0.2s * var(--i));
                animation-delay: calc(0.2s * var(--i));
        -webkit-transform: translateY(-20vw);
           -moz-transform: translateY(-20vw);
             -o-transform: translateY(-20vw);
                transform: translateY(-20vw); }
      header .center .content-wrapper .content.goToTop li {
        -webkit-animation-name: lettersGoToTop;
        -moz-animation-name: lettersGoToTop;
          -o-animation-name: lettersGoToTop;
             animation-name: lettersGoToTop;
        -webkit-animation-delay: 333ms;
           -moz-animation-delay: 333ms;
             -o-animation-delay: 333ms;
                animation-delay: 333ms;
        -webkit-animation-duration: 666ms;
           -moz-animation-duration: 666ms;
             -o-animation-duration: 666ms;
                animation-duration: 666ms;
        -webkit-animation-timing-function: ease-in-out;
           -moz-animation-timing-function: ease-in-out;
             -o-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
        -webkit-animation-delay: -webkit-calc(0.2s * var(--i));
           -moz-animation-delay: -moz-calc(0.2s * var(--i));
             -o-animation-delay: calc(0.2s * var(--i));
                animation-delay: calc(0.2s * var(--i)); }
      header .center .content-wrapper .content.comeFromBottom li {
        -webkit-animation-name: lettersComeFromBottom;
        -moz-animation-name: lettersComeFromBottom;
          -o-animation-name: lettersComeFromBottom;
             animation-name: lettersComeFromBottom;
        -webkit-animation-delay: 333ms;
           -moz-animation-delay: 333ms;
             -o-animation-delay: 333ms;
                animation-delay: 333ms;
        -webkit-animation-duration: 666ms;
           -moz-animation-duration: 666ms;
             -o-animation-duration: 666ms;
                animation-duration: 666ms;
        -webkit-animation-timing-function: ease-in-out;
           -moz-animation-timing-function: ease-in-out;
             -o-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
        -webkit-animation-delay: -webkit-calc(0.2s * var(--i));
           -moz-animation-delay: -moz-calc(0.2s * var(--i));
             -o-animation-delay: calc(0.2s * var(--i));
                animation-delay: calc(0.2s * var(--i));
        -webkit-transform: translateY(20vw);
           -moz-transform: translateY(20vw);
             -o-transform: translateY(20vw);
                transform: translateY(20vw); }
    header .center .image-wrapper {
      position: relative;
      width: 35vw;
      height: 20vw; }
      header .center .image-wrapper li {
        position: absolute;
        width: inherit;
        height: inherit;
        overflow: hidden;
        display: none;
        right: 100px;
        -webkit-animation-duration: 2s;
           -moz-animation-duration: 2s;
             -o-animation-duration: 2s;
                animation-duration: 2s;
        -webkit-animation-timing-function: ease-in-out;
           -moz-animation-timing-function: ease-in-out;
             -o-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
        -webkit-animation-delay: 0s;
           -moz-animation-delay: 0s;
             -o-animation-delay: 0s;
                animation-delay: 0s;
        -webkit-animation-fill-mode: forwards;
           -moz-animation-fill-mode: forwards;
             -o-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-filter: blur(0.3vw);
                filter: blur(0.3vw); }
        header .center .image-wrapper li img {
          width: 100%; }
      header .center .image-wrapper li.previous {
        display: block;
        -webkit-animation-name: item-0-1;
        -moz-animation-name: item-0-1;
          -o-animation-name: item-0-1;
             animation-name: item-0-1; }
      header .center .image-wrapper li.present {
        display: block;
        -webkit-animation-name: item-1-2;
        -moz-animation-name: item-1-2;
          -o-animation-name: item-1-2;
             animation-name: item-1-2; }
      header .center .image-wrapper li.next {
        display: block;
        -webkit-animation-name: item-2-3;
        -moz-animation-name: item-2-3;
          -o-animation-name: item-2-3;
             animation-name: item-2-3; }
      header .center .image-wrapper li.down {
        display: block;
        -webkit-animation-name: item-3-4;
        -moz-animation-name: item-3-4;
          -o-animation-name: item-3-4;
             animation-name: item-3-4; }
      header .center .image-wrapper li.previous-reverse {
        display: block;
        -webkit-animation-name: item-1-0;
        -moz-animation-name: item-1-0;
          -o-animation-name: item-1-0;
             animation-name: item-1-0; }
      header .center .image-wrapper li.present-reverse {
        display: block;
        -webkit-animation-name: item-2-1;
        -moz-animation-name: item-2-1;
          -o-animation-name: item-2-1;
             animation-name: item-2-1; }
      header .center .image-wrapper li.next-reverse {
        display: block;
        -webkit-animation-name: item-3-2;
        -moz-animation-name: item-3-2;
          -o-animation-name: item-3-2;
             animation-name: item-3-2; }
      header .center .image-wrapper li.down-reverse {
        display: block;
        -webkit-animation-name: item-4-3;
        -moz-animation-name: item-4-3;
          -o-animation-name: item-4-3;
             animation-name: item-4-3; }
    header .center .h-bottom {
      position: absolute;
      bottom: 1vw;
      right: 2vw;
      display: -webkit-flex;
      display: -moz-box;
      display: flex;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
              justify-content: space-between;
      -webkit-align-items: center;
         -moz-box-align: center;
              align-items: center;
      width: 35vw; }
      header .center .h-bottom .btn-up {
        top: 2vw;
        -webkit-transform: rotate(90deg);
           -moz-transform: rotate(90deg);
             -o-transform: rotate(90deg);
                transform: rotate(90deg);
        z-index: 4; }
      header .center .h-bottom .btn-down {
        bottom: 2vw;
        z-index: 4;
        -webkit-transform: rotate(-90deg);
           -moz-transform: rotate(-90deg);
             -o-transform: rotate(-90deg);
                transform: rotate(-90deg); }
      header .center .h-bottom .btn {
        width: 4vw;
        height: 4vw;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        -webkit-align-items: center;
           -moz-box-align: center;
                align-items: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
                justify-content: center;
        border: 0.1vw solid #BCB5A8;
        border-radius: 4vw;
        padding: 0; }
        header .center .h-bottom .btn img {
          width: 2.5vw; }
        header .center .h-bottom .btn:hover {
          background-color: rgba(0, 0, 0, 0.1); }
        header .center .h-bottom .btn:active {
          background-color: rgba(0, 0, 0, 0.3); }
      header .center .h-bottom .play-stop {
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        -webkit-align-items: center;
           -moz-box-align: center;
                align-items: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
                justify-content: center; }
        header .center .h-bottom .play-stop li.show {
          display: -webkit-flex;
          display: -moz-box;
          display: flex; }
        header .center .h-bottom .play-stop .btn {
          width: 3vw;
          height: 3vw;
          display: none;
          margin: 0;
          padding: 0;
          border-radius: 3vw; }
          header .center .h-bottom .play-stop .btn img {
            width: 1.5vw; }
      header .center .h-bottom .progress {
        height: 0.1vw;
        width: 18vw; }
        header .center .h-bottom .progress .progress-bar {
          background-color: #dead5a; }
      header .center .h-bottom .count {
        color: white;
        font-size: 2vw; }

@-webkit-keyframes lettersGoToBottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(20vw);
            transform: translateY(20vw); } }

@-moz-keyframes lettersGoToBottom {
  0% {
    -moz-transform: translateY(0);
         transform: translateY(0); }
  100% {
    -moz-transform: translateY(20vw);
         transform: translateY(20vw); } }

@-o-keyframes lettersGoToBottom {
  0% {
    -o-transform: translateY(0);
       transform: translateY(0); }
  100% {
    -o-transform: translateY(20vw);
       transform: translateY(20vw); } }

@keyframes lettersGoToBottom {
  0% {
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(20vw);
       -moz-transform: translateY(20vw);
         -o-transform: translateY(20vw);
            transform: translateY(20vw); } }

@-webkit-keyframes lettersComeFromTop {
  0% {
    -webkit-transform: translateY(-20vw);
            transform: translateY(-20vw); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-moz-keyframes lettersComeFromTop {
  0% {
    -moz-transform: translateY(-20vw);
         transform: translateY(-20vw); }
  100% {
    -moz-transform: translateY(0);
         transform: translateY(0); } }

@-o-keyframes lettersComeFromTop {
  0% {
    -o-transform: translateY(-20vw);
       transform: translateY(-20vw); }
  100% {
    -o-transform: translateY(0);
       transform: translateY(0); } }

@keyframes lettersComeFromTop {
  0% {
    -webkit-transform: translateY(-20vw);
       -moz-transform: translateY(-20vw);
         -o-transform: translateY(-20vw);
            transform: translateY(-20vw); }
  100% {
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes lettersGoToTop {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-20vw);
            transform: translateY(-20vw); } }

@-moz-keyframes lettersGoToTop {
  0% {
    -moz-transform: translateY(0);
         transform: translateY(0); }
  100% {
    -moz-transform: translateY(-20vw);
         transform: translateY(-20vw); } }

@-o-keyframes lettersGoToTop {
  0% {
    -o-transform: translateY(0);
       transform: translateY(0); }
  100% {
    -o-transform: translateY(-20vw);
       transform: translateY(-20vw); } }

@keyframes lettersGoToTop {
  0% {
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-20vw);
       -moz-transform: translateY(-20vw);
         -o-transform: translateY(-20vw);
            transform: translateY(-20vw); } }

@-webkit-keyframes lettersComeFromBottom {
  0% {
    -webkit-transform: translateY(20vw);
            transform: translateY(20vw); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-moz-keyframes lettersComeFromBottom {
  0% {
    -moz-transform: translateY(20vw);
         transform: translateY(20vw); }
  100% {
    -moz-transform: translateY(0);
         transform: translateY(0); } }

@-o-keyframes lettersComeFromBottom {
  0% {
    -o-transform: translateY(20vw);
       transform: translateY(20vw); }
  100% {
    -o-transform: translateY(0);
       transform: translateY(0); } }

@keyframes lettersComeFromBottom {
  0% {
    -webkit-transform: translateY(20vw);
       -moz-transform: translateY(20vw);
         -o-transform: translateY(20vw);
            transform: translateY(20vw); }
  100% {
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes item-0-1 {
  0% {
    top: -60vw;
    left: -45vw;
    -webkit-transform: rotate(-45deg) scale(2);
            transform: rotate(-45deg) scale(2);
    opacity: 0; }
  100% {
    top: -30vw;
    left: -20vw;
    -webkit-transform: rotate(-30deg) scale(1.5);
            transform: rotate(-30deg) scale(1.5);
    opacity: 0.3; } }

@-moz-keyframes item-0-1 {
  0% {
    top: -60vw;
    left: -45vw;
    -moz-transform: rotate(-45deg) scale(2);
         transform: rotate(-45deg) scale(2);
    opacity: 0; }
  100% {
    top: -30vw;
    left: -20vw;
    -moz-transform: rotate(-30deg) scale(1.5);
         transform: rotate(-30deg) scale(1.5);
    opacity: 0.3; } }

@-o-keyframes item-0-1 {
  0% {
    top: -60vw;
    left: -45vw;
    -o-transform: rotate(-45deg) scale(2);
       transform: rotate(-45deg) scale(2);
    opacity: 0; }
  100% {
    top: -30vw;
    left: -20vw;
    -o-transform: rotate(-30deg) scale(1.5);
       transform: rotate(-30deg) scale(1.5);
    opacity: 0.3; } }

@keyframes item-0-1 {
  0% {
    top: -60vw;
    left: -45vw;
    -webkit-transform: rotate(-45deg) scale(2);
       -moz-transform: rotate(-45deg) scale(2);
         -o-transform: rotate(-45deg) scale(2);
            transform: rotate(-45deg) scale(2);
    opacity: 0; }
  100% {
    top: -30vw;
    left: -20vw;
    -webkit-transform: rotate(-30deg) scale(1.5);
       -moz-transform: rotate(-30deg) scale(1.5);
         -o-transform: rotate(-30deg) scale(1.5);
            transform: rotate(-30deg) scale(1.5);
    opacity: 0.3; } }

@-webkit-keyframes item-1-0 {
  0% {
    top: -30vw;
    left: -20vw;
    -webkit-transform: rotate(-30deg) scale(1.5);
            transform: rotate(-30deg) scale(1.5);
    opacity: 0.3; }
  100% {
    top: -60vw;
    left: -45vw;
    -webkit-transform: rotate(-45deg) scale(2);
            transform: rotate(-45deg) scale(2);
    opacity: 0; } }

@-moz-keyframes item-1-0 {
  0% {
    top: -30vw;
    left: -20vw;
    -moz-transform: rotate(-30deg) scale(1.5);
         transform: rotate(-30deg) scale(1.5);
    opacity: 0.3; }
  100% {
    top: -60vw;
    left: -45vw;
    -moz-transform: rotate(-45deg) scale(2);
         transform: rotate(-45deg) scale(2);
    opacity: 0; } }

@-o-keyframes item-1-0 {
  0% {
    top: -30vw;
    left: -20vw;
    -o-transform: rotate(-30deg) scale(1.5);
       transform: rotate(-30deg) scale(1.5);
    opacity: 0.3; }
  100% {
    top: -60vw;
    left: -45vw;
    -o-transform: rotate(-45deg) scale(2);
       transform: rotate(-45deg) scale(2);
    opacity: 0; } }

@keyframes item-1-0 {
  0% {
    top: -30vw;
    left: -20vw;
    -webkit-transform: rotate(-30deg) scale(1.5);
       -moz-transform: rotate(-30deg) scale(1.5);
         -o-transform: rotate(-30deg) scale(1.5);
            transform: rotate(-30deg) scale(1.5);
    opacity: 0.3; }
  100% {
    top: -60vw;
    left: -45vw;
    -webkit-transform: rotate(-45deg) scale(2);
       -moz-transform: rotate(-45deg) scale(2);
         -o-transform: rotate(-45deg) scale(2);
            transform: rotate(-45deg) scale(2);
    opacity: 0; } }

@-webkit-keyframes item-1-2 {
  0% {
    top: -30vw;
    left: -20vw;
    -webkit-transform: rotate(-30deg) scale(1.5);
            transform: rotate(-30deg) scale(1.5);
    -webkit-filter: blur(0.3vw);
            filter: blur(0.3vw);
    opacity: 0.3; }
  100% {
    top: 0;
    left: 0;
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0); } }

@-moz-keyframes item-1-2 {
  0% {
    top: -30vw;
    left: -20vw;
    -moz-transform: rotate(-30deg) scale(1.5);
         transform: rotate(-30deg) scale(1.5);
    filter: blur(0.3vw);
    opacity: 0.3; }
  100% {
    top: 0;
    left: 0;
    -moz-transform: rotate(0deg) scale(1);
         transform: rotate(0deg) scale(1);
    opacity: 1;
    filter: blur(0); } }

@-o-keyframes item-1-2 {
  0% {
    top: -30vw;
    left: -20vw;
    -o-transform: rotate(-30deg) scale(1.5);
       transform: rotate(-30deg) scale(1.5);
    filter: blur(0.3vw);
    opacity: 0.3; }
  100% {
    top: 0;
    left: 0;
    -o-transform: rotate(0deg) scale(1);
       transform: rotate(0deg) scale(1);
    opacity: 1;
    filter: blur(0); } }

@keyframes item-1-2 {
  0% {
    top: -30vw;
    left: -20vw;
    -webkit-transform: rotate(-30deg) scale(1.5);
       -moz-transform: rotate(-30deg) scale(1.5);
         -o-transform: rotate(-30deg) scale(1.5);
            transform: rotate(-30deg) scale(1.5);
    -webkit-filter: blur(0.3vw);
            filter: blur(0.3vw);
    opacity: 0.3; }
  100% {
    top: 0;
    left: 0;
    -webkit-transform: rotate(0deg) scale(1);
       -moz-transform: rotate(0deg) scale(1);
         -o-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0); } }

@-webkit-keyframes item-2-1 {
  0% {
    top: 0;
    left: 0;
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0); }
  100% {
    top: -30vw;
    left: -20vw;
    -webkit-transform: rotate(-30deg) scale(1.5);
            transform: rotate(-30deg) scale(1.5);
    -webkit-filter: blur(0.3vw);
            filter: blur(0.3vw);
    opacity: 0.3; } }

@-moz-keyframes item-2-1 {
  0% {
    top: 0;
    left: 0;
    -moz-transform: rotate(0deg) scale(1);
         transform: rotate(0deg) scale(1);
    opacity: 1;
    filter: blur(0); }
  100% {
    top: -30vw;
    left: -20vw;
    -moz-transform: rotate(-30deg) scale(1.5);
         transform: rotate(-30deg) scale(1.5);
    filter: blur(0.3vw);
    opacity: 0.3; } }

@-o-keyframes item-2-1 {
  0% {
    top: 0;
    left: 0;
    -o-transform: rotate(0deg) scale(1);
       transform: rotate(0deg) scale(1);
    opacity: 1;
    filter: blur(0); }
  100% {
    top: -30vw;
    left: -20vw;
    -o-transform: rotate(-30deg) scale(1.5);
       transform: rotate(-30deg) scale(1.5);
    filter: blur(0.3vw);
    opacity: 0.3; } }

@keyframes item-2-1 {
  0% {
    top: 0;
    left: 0;
    -webkit-transform: rotate(0deg) scale(1);
       -moz-transform: rotate(0deg) scale(1);
         -o-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0); }
  100% {
    top: -30vw;
    left: -20vw;
    -webkit-transform: rotate(-30deg) scale(1.5);
       -moz-transform: rotate(-30deg) scale(1.5);
         -o-transform: rotate(-30deg) scale(1.5);
            transform: rotate(-30deg) scale(1.5);
    -webkit-filter: blur(0.3vw);
            filter: blur(0.3vw);
    opacity: 0.3; } }

@-webkit-keyframes item-2-3 {
  0% {
    top: 0;
    left: 0;
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1; }
  100% {
    top: 20vw;
    left: -7vw;
    -webkit-transform: rotate(30deg) scale(0.5);
            transform: rotate(30deg) scale(0.5);
    -webkit-filter: blur(0.5vw);
            filter: blur(0.5vw);
    opacity: 0.3; } }

@-moz-keyframes item-2-3 {
  0% {
    top: 0;
    left: 0;
    -moz-transform: rotate(0) scale(1);
         transform: rotate(0) scale(1);
    filter: blur(0);
    opacity: 1; }
  100% {
    top: 20vw;
    left: -7vw;
    -moz-transform: rotate(30deg) scale(0.5);
         transform: rotate(30deg) scale(0.5);
    filter: blur(0.5vw);
    opacity: 0.3; } }

@-o-keyframes item-2-3 {
  0% {
    top: 0;
    left: 0;
    -o-transform: rotate(0) scale(1);
       transform: rotate(0) scale(1);
    filter: blur(0);
    opacity: 1; }
  100% {
    top: 20vw;
    left: -7vw;
    -o-transform: rotate(30deg) scale(0.5);
       transform: rotate(30deg) scale(0.5);
    filter: blur(0.5vw);
    opacity: 0.3; } }

@keyframes item-2-3 {
  0% {
    top: 0;
    left: 0;
    -webkit-transform: rotate(0) scale(1);
       -moz-transform: rotate(0) scale(1);
         -o-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1; }
  100% {
    top: 20vw;
    left: -7vw;
    -webkit-transform: rotate(30deg) scale(0.5);
       -moz-transform: rotate(30deg) scale(0.5);
         -o-transform: rotate(30deg) scale(0.5);
            transform: rotate(30deg) scale(0.5);
    -webkit-filter: blur(0.5vw);
            filter: blur(0.5vw);
    opacity: 0.3; } }

@-webkit-keyframes item-3-2 {
  0% {
    top: 20vw;
    left: -7vw;
    -webkit-transform: rotate(30deg) scale(0.5);
            transform: rotate(30deg) scale(0.5);
    -webkit-filter: blur(0.3vw);
            filter: blur(0.3vw);
    opacity: 0.3; }
  100% {
    top: 0;
    left: 0;
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1; } }

@-moz-keyframes item-3-2 {
  0% {
    top: 20vw;
    left: -7vw;
    -moz-transform: rotate(30deg) scale(0.5);
         transform: rotate(30deg) scale(0.5);
    filter: blur(0.3vw);
    opacity: 0.3; }
  100% {
    top: 0;
    left: 0;
    -moz-transform: rotate(0) scale(1);
         transform: rotate(0) scale(1);
    filter: blur(0);
    opacity: 1; } }

@-o-keyframes item-3-2 {
  0% {
    top: 20vw;
    left: -7vw;
    -o-transform: rotate(30deg) scale(0.5);
       transform: rotate(30deg) scale(0.5);
    filter: blur(0.3vw);
    opacity: 0.3; }
  100% {
    top: 0;
    left: 0;
    -o-transform: rotate(0) scale(1);
       transform: rotate(0) scale(1);
    filter: blur(0);
    opacity: 1; } }

@keyframes item-3-2 {
  0% {
    top: 20vw;
    left: -7vw;
    -webkit-transform: rotate(30deg) scale(0.5);
       -moz-transform: rotate(30deg) scale(0.5);
         -o-transform: rotate(30deg) scale(0.5);
            transform: rotate(30deg) scale(0.5);
    -webkit-filter: blur(0.3vw);
            filter: blur(0.3vw);
    opacity: 0.3; }
  100% {
    top: 0;
    left: 0;
    -webkit-transform: rotate(0) scale(1);
       -moz-transform: rotate(0) scale(1);
         -o-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1; } }

@-webkit-keyframes item-3-4 {
  0% {
    top: 20vw;
    left: -7vw;
    -webkit-transform: rotate(30deg) scale(0.5);
            transform: rotate(30deg) scale(0.5);
    -webkit-filter: blur(0.5vw);
            filter: blur(0.5vw);
    opacity: 0.3; }
  100% {
    top: 40vw;
    left: -45vw;
    -webkit-transform: rotate(45deg) scale(0.1);
            transform: rotate(45deg) scale(0.1);
    -webkit-filter: blur(0.5);
            filter: blur(0.5);
    opacity: 0; } }

@-moz-keyframes item-3-4 {
  0% {
    top: 20vw;
    left: -7vw;
    -moz-transform: rotate(30deg) scale(0.5);
         transform: rotate(30deg) scale(0.5);
    filter: blur(0.5vw);
    opacity: 0.3; }
  100% {
    top: 40vw;
    left: -45vw;
    -moz-transform: rotate(45deg) scale(0.1);
         transform: rotate(45deg) scale(0.1);
    filter: blur(0.5);
    opacity: 0; } }

@-o-keyframes item-3-4 {
  0% {
    top: 20vw;
    left: -7vw;
    -o-transform: rotate(30deg) scale(0.5);
       transform: rotate(30deg) scale(0.5);
    filter: blur(0.5vw);
    opacity: 0.3; }
  100% {
    top: 40vw;
    left: -45vw;
    -o-transform: rotate(45deg) scale(0.1);
       transform: rotate(45deg) scale(0.1);
    filter: blur(0.5);
    opacity: 0; } }

@keyframes item-3-4 {
  0% {
    top: 20vw;
    left: -7vw;
    -webkit-transform: rotate(30deg) scale(0.5);
       -moz-transform: rotate(30deg) scale(0.5);
         -o-transform: rotate(30deg) scale(0.5);
            transform: rotate(30deg) scale(0.5);
    -webkit-filter: blur(0.5vw);
            filter: blur(0.5vw);
    opacity: 0.3; }
  100% {
    top: 40vw;
    left: -45vw;
    -webkit-transform: rotate(45deg) scale(0.1);
       -moz-transform: rotate(45deg) scale(0.1);
         -o-transform: rotate(45deg) scale(0.1);
            transform: rotate(45deg) scale(0.1);
    -webkit-filter: blur(0.5);
            filter: blur(0.5);
    opacity: 0; } }

@-webkit-keyframes item-4-3 {
  0% {
    top: 40vw;
    left: -45vw;
    -webkit-transform: rotate(45deg) scale(0);
            transform: rotate(45deg) scale(0);
    opacity: 0; }
  100% {
    top: 20vw;
    left: -7vw;
    -webkit-transform: rotate(30deg) scale(0.5);
            transform: rotate(30deg) scale(0.5);
    opacity: 0.3; } }

@-moz-keyframes item-4-3 {
  0% {
    top: 40vw;
    left: -45vw;
    -moz-transform: rotate(45deg) scale(0);
         transform: rotate(45deg) scale(0);
    opacity: 0; }
  100% {
    top: 20vw;
    left: -7vw;
    -moz-transform: rotate(30deg) scale(0.5);
         transform: rotate(30deg) scale(0.5);
    opacity: 0.3; } }

@-o-keyframes item-4-3 {
  0% {
    top: 40vw;
    left: -45vw;
    -o-transform: rotate(45deg) scale(0);
       transform: rotate(45deg) scale(0);
    opacity: 0; }
  100% {
    top: 20vw;
    left: -7vw;
    -o-transform: rotate(30deg) scale(0.5);
       transform: rotate(30deg) scale(0.5);
    opacity: 0.3; } }

@keyframes item-4-3 {
  0% {
    top: 40vw;
    left: -45vw;
    -webkit-transform: rotate(45deg) scale(0);
       -moz-transform: rotate(45deg) scale(0);
         -o-transform: rotate(45deg) scale(0);
            transform: rotate(45deg) scale(0);
    opacity: 0; }
  100% {
    top: 20vw;
    left: -7vw;
    -webkit-transform: rotate(30deg) scale(0.5);
       -moz-transform: rotate(30deg) scale(0.5);
         -o-transform: rotate(30deg) scale(0.5);
            transform: rotate(30deg) scale(0.5);
    opacity: 0.3; } }